h3, p {
    color: #0b4554;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.temperatures {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}